@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0;
    padding: 0;
    font-family: Changa;
    background: url(/mesh.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #888160d7;
    height: 100%;
}
h1{
    font-size: 3.5rem;
    letter-spacing: .1em;
}
h2{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(30, 59, 92)
}
p{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(78, 12, 58)
}
h3{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(30, 59, 92)
}